@import 'tailwindcss';

@tailwind utilities;

@theme {
    --color-main: #07C8C0;
    --color-main-crono: #1EBAB2;
    --color-main-dark-teal: #0A9B94;
    --color-main-hover: #CEEDED;
    --color-main-light: #E9F8F8;
    --color-gray-1: #7A8395;
    --color-gray-2: #AFB5BF;
    --color-gray-4: #E6E9F2;
    --color-gray-5: #D5E0F0;
    --color-gray-6: #EAF1FB;
    --color-gray-7: #F5F7F9;
    --color-gray-hover: #3E485B;
    --color-main-dark: #010E27;
    --color-yellow-light: #FEF3D2;
    --color-red-main: #ED4C5E;
    --color-dark-yellow-main: #C69812;
    --color-green-main: #1A9D6E;
    --color-blue-hover: #3B85E8;
    --color-blue-main: #3B58DB;
    --color-purple-main: #8846DC;
    --color-yellow-main: #E2AD13;
    --color-pink-main: #E769CB;
    --color-yellow-secondary: #F9BB06;
    --color-dark-yellow-main-light: #FEF3D2;
    --color-yellow-main-light: #FEF3D2;
    --color-red-main-light: #FFE9E9;
    --color-blue-hover-light: #EAF1FB;
    --color-green-main-light: #E8F5D9;
    --color-blue-main-light: #EAF1FB;
    --color-purple-main-light: #F2EAFF;
    --color-pink-main-light: #FDE5F8;
}

@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: theme(--color-gray-4) theme(--color-gray-6);
    }

    @supports not (scrollbar-color: auto) {
        *::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        *::-webkit-scrollbar-track {
            @apply bg-gray-100;
        }

        *::-webkit-scrollbar-thumb {
            @apply bg-gray-400 rounded-full;
        }

        *::-webkit-scrollbar-thumb:hover {
            @apply bg-gray-500;
        }
    }
}

* {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}
